<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>AppDirect Coding Challenge</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

  <script src="scripts/linkify.min.js"></script>
  <script src="scripts/linkify-jquery.min.js"></script>

  <!-- ELEMENT UI START -->
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <!-- ELEMENT UI END -->

  <!-- CDNJS :: Sortable (https://cdnjs.com/) -->
  <script src="//cdn.jsdelivr.net/npm/sortablejs@1.7.0/Sortable.min.js"></script>

  <!-- CDNJS :: Vue.Draggable (https://cdnjs.com/) -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.16.0/vuedraggable.min.js"></script>

</head>
<body>
  <div id="app" :class="theme">
    <div class="container">
      <el-dropdown :trigger="'click'">
        <span class="el-dropdown-link">
          <i :class="theme" class="material-icons">settings</i>
        </span>
        <el-dropdown-menu slot="dropdown">
          <a @click="setTheme('dark')"><el-dropdown-item>Ocean Theme</el-dropdown-item></a>
          <a @click="setTheme('light')"><el-dropdown-item>Flower Theme</el-dropdown-item></a>
        </el-dropdown-menu>
      </el-dropdown>
      <el-row type="flex" justify="center">
        <el-col :xs="12" :sm="8" :md="6">
          <img class="logo" :src="'img/logo_' + theme + '.png'"/>
        </el-col>
      </el-row>
      <el-row type="flex" justify="center">
        <el-col :xs="24" class="center--text">
          <el-button :class="theme" class="instructions-trigger" type="info" plain @click="dialogVisible = true"><i class="material-icons">info</i> Instructions</el-button>
        </el-col>
      </el-row>
      <el-row :gutter="20">
        <el-col :xs="24" :sm="8">
          <div class="grid-content section" v-if="appDirectData">
            <img :src="appDirectData[0].user.profile_image_url.toString().replace('normal', 'bigger')" />
            <h3 :class="theme">{{'@' + appDirectData[0].user.name}}</h3>
            <p :class="theme" class="follower-count">{{appDirectData[0].user.followers_count}} Followers</p>
            <p :class="theme" class="tweets-num"># of tweets to show (max 30): <input type="number" max="30" min="1" v-model="appDirectNum" /></p>
            <draggable v-model="appDirectData" @start="drag=true" @end="drag=false">
              <div @click="goToTweet(tweet.id_str)" class="item" v-for="(tweet, index) in appDirectData" :key="tweet.id" v-if="index < appDirectNum">
                <div class="profile-image" :style="'background: url(' + tweet.user.profile_image_url.toString().replace('normal', 'bigger') + ')'"></div>
                <div class="name">{{tweet.user.screen_name}}</div>
                <span class="date">{{getRelativeTime(tweet.created_at)}}</span>
                <p class="content">{{ tweet.text}}</p>
                <p class="retweeted-status" v-if="tweet.retweeted_status">RT 
                  <a :href="tweet.retweeted_status.user.url">{{'@' + tweet.retweeted_status.user.screen_name}}</a>
                </p>
                <p class="mentioned-status" v-if="tweet.entities.user_mentions.length > 0">Mentions
                  <a v-for="mention in tweet.entities.user_mentions" :href="'http://twitter.com/' + mention.id_str">{{' @' + mention.screen_name}}</a>
                </p>
              </div>  
            </draggable>
          </div>
        </el-col>
        <el-col :xs="24" :sm="8">
          <div class="grid-content section" v-if="laughingSquidData">
            <img :src="laughingSquidData[0].user.profile_image_url.toString().replace('normal', 'bigger')" />
            <h3>{{'@' + laughingSquidData[0].user.name}}</h3>
            <p class="follower-count">{{laughingSquidData[0].user.followers_count}} Followers</p>
            <p class="tweets-num"># of tweets to show (max 30): <input type="number" max="30" min="1" v-model="laughingSquidNum" /></p>
            <draggable v-model="laughingSquidData" @start="drag=true" @end="drag=false">
              <div @click="goToTweet(tweet.id_str)" class="item" v-for="(tweet, index) in laughingSquidData" v-if="index < laughingSquidNum">
                <div class="profile-image" :style="'background: url(' + tweet.user.profile_image_url.toString().replace('normal', 'bigger') + ')'"></div>
                <div class="name">{{tweet.user.screen_name}}</div>
                <span class="date">{{getRelativeTime(tweet.created_at)}}</span>
                <p class="content">{{ tweet.text}}</p>
                <p class="retweeted-status" v-if="tweet.retweeted_status">RT 
                  <a :href="tweet.retweeted_status.user.url">{{'@' + tweet.retweeted_status.user.screen_name}}</a>
                </p>
                <p class="mentioned-status" v-if="tweet.entities.user_mentions.length > 0">Mentions
                  <a v-for="mention in tweet.entities.user_mentions" :href="'http://twitter.com/' + mention.id_str">{{' @' + mention.screen_name}}</a>
                </p>
              </div>
            </draggable>  
          </div>
        </el-col>
        <el-col :xs="24" :sm="8">
          <div class="grid-content section" v-if="techCrunchData">
            <img :src="techCrunchData[0].user.profile_image_url.toString().replace('normal', 'bigger')" />
            <h3>{{'@' + techCrunchData[0].user.name}}</h3>
            <p class="follower-count">{{techCrunchData[0].user.followers_count}} Followers</p>
            <p class="tweets-num"># of tweets to show (max 30): <input type="number" max="30" min="1" v-model="techCrunchNum" /></p>
            <draggable v-model="techCrunchData" @start="drag=true" @end="drag=false">
              <div @click="goToTweet(tweet.id_str)" class="item" v-for="(tweet, index) in techCrunchData" :key="tweet.id" v-if="index < techCrunchNum">
                <div class="profile-image" :style="'background: url(' + tweet.user.profile_image_url.toString().replace('normal', 'bigger') + ')'"></div>
                <div class="name">{{tweet.user.screen_name}}</div>
                <span class="date">{{getRelativeTime(tweet.created_at)}}</span>
                <p class="content">{{ tweet.text}}</p>
                <p class="retweeted-status" v-if="tweet.retweeted_status">RT 
                  <a :href="tweet.retweeted_status.user.url">{{'@' + tweet.retweeted_status.user.screen_name}}</a>
                </p>
                <p class="mentioned-status" v-if="tweet.entities.user_mentions.length > 0">Mentions
                  <a v-for="mention in tweet.entities.user_mentions" :href="'http://twitter.com/' + mention.id_str">{{' @' + mention.screen_name}}</a>
                </p>
              </div>  
            </draggable>
          </div>
        </el-col>
      </el-row>
      <el-dialog
        :visible.sync="dialogVisible"
        width="60%"
        :show-close="false">
        <div slot="title" class="dialog-header">
          <h3>Instructions</h3>
          <a class="close" @click="dialogVisible = false"><i class="material-icons">close</i></a>
        </div>
        <div class="instructions" v-if="appDirectData && laughingSquidData && techCrunchData">
          <h4>Welcome to the AppDirect Front End Coding Challenge! You are currently seeing the latest tweets from <a :href="'http://twitter.com/' + appDirectData[0].user.name">@AppDirect</a>, <a :href="'http://twitter.com/' + laughingSquidData[0].user.name">@Laughing Squid</a> and <a :href="'http://twitter.com/' + techCrunchData[0].user.name">@TechCrunch</a>.</h4>
          <h5>Some Features:</h5>
          <ul>
            <li>To provide a <strong>seamless experience</strong>, there is only a <strong>single mode</strong> in which you can both view and edit. This eliminates the need for extra clicks/touches.</li>
            <li>The display is <strong>responsive</strong> for mobiles and tablets (tested using responsive mode).</li>
            <li>By default, the cards are ordered by <strong>newest tweet first</strong> but if you wish to reorder them, you can simply <strong>drag-and-drop</strong> them within the column.</li>
            <li>To view the complete tweet on Twitter, simply <strong>click on the card</strong> and you will be redirected.</li>
            <li>To control the number of tweets to display per column, simply <strong>adjust the # of tweets to show</strong>.</li>
            <li>You can change the theme of the page by <strong>clicking on the settings icon</strong> on the top right.</li>
          </ul>
        </div>
      </el-dialog>
    </div>
  </div>

</body>

<style>

  p {
    font-weight: 400;
  }
  a {
    text-decoration: none !important;
  }
  body {
    width: 100%;
    margin: 0;
    font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
  }
  #app {
    width: 100%;
  }
  #app.light {
    background: #d9a7c7;
    background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);
    background: linear-gradient(to right, #fffcdc, #d9a7c7);
  }
  #app.dark {
    background: #2193b0;
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
    background: linear-gradient(to right, #6dd5ed, #2193b0);
  }
  .container {
    max-width: 960px;
    padding: 20px 10px;
    margin: 0 auto;
  }
  .el-dropdown {
    position: absolute;
    top: 20px;
    right: 20px; 
    cursor: pointer;
  }

  .logo {
    width: 100%;
  }

  .light {
    color: #4a4a4a;
  }

  .dark {
    color: #FFF;
  }
  
  .center--text {
    text-align: center !important;
  }

  .instructions-trigger i {
    font-size: 1rem;
    line-height: 1rem;
    vertical-align: middle;
  }

  .instructions-trigger.light {
    background: #4a4a4a;
    color: #FFF;
  }

  .section {
    margin-top: 20px;
  }

  .section img {
    width: 50px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
  }

  .section h3 {
    font-weight: 300;
    font-size: 24px;
    margin-top: 4px;
    text-align: center;
    margin-bottom: 0;
  }

  .section .follower-count {
    margin: 0;
    font-size: .9rem;
    font-weight: 300;
    text-align: center;
  }

  .section .tweets-num {
    font-size: .9rem;
    text-align: center;
    margin-bottom: 0;
  }

  .section .tweets-num input {
    margin-bottom: 0;
    padding: 10px 0 10px 10px;
  }

  .section .item {
    background: #FFF;
    border-radius: 4px;
    padding: 16px 12px;
    margin-top: 20px;
    position: relative;
    cursor: pointer;
  }

  .section .item .profile-image {
    width: 40px;
    height: 40px;
    background-size: contain !important;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
  }

  .section .item .name {
    width: calc(100% - 60px);
    margin-left: 8px;
    font-weight: 300;
    font-size: 1.2rem;
    color: #4a4a4a;
    display: inline-block;
    vertical-align: middle;
  }

  .section .item .date {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: .8rem;
    color: #9e9e9e;
    font-weight: 300;
  }

  .section .item .content {
    font-size: .9rem;
    font-weight: 300;
    color: #4a4a4a;
    margin-bottom: 0;
  }

  .section .item .retweeted-status, .section .item .mentioned-status {
    font-size: .9rem;
    font-weight: 400;
    color: #4a4a4a;
    margin-bottom: 0;
  }

  .section .item .retweeted-status a, .section .item .mentioned-status a {
    color: #34A2BE;
  }

  .el-dialog {
    margin-top: 10vh !important;
  }

  .el-dialog__header {
    padding: 0;
  }

  .dialog-header {
    position: relative;
    border-bottom: 1px solid #206EA9;
    background: #F5F9FD;
    padding: 20px 10px;
  }

  .dialog-header h3 {
    color: #4a4a4a;
  }

  .dialog-header .close {
    position: absolute;
    right: 20px;
    top: 24px;
    color: #FFF;
    display: block;
    width: 24px;
    height: 24px;
    background: rgba(236, 86, 119, .7);
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: linear all .2s;
  }

  .dialog-header .close:hover {
    background: rgba(236, 86, 119, 1);
  }

  .dialog-header .close i {
    font-size: .8rem;
    color: #FFF;
    line-height: 24px;
  }

  .dialog-header h3 {
    font-size: 1.6rem;
    text-align: center;
    margin: 0;
    font-weight: 300;
  }

  .instructions h4 {
    color: #4a4a4a;
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 300;
  }

  .instructions li {
    color: #4a4a4a;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.4rem;
    margin-top: 10px;
  }

  .instructions li:first-child {
    margin-top: 0;
  }

  .instructions h5 {
    font-size: 1rem;
    color: #4a4a4a;
    font-weight: 400;
  }

  .instructions a {
    color: #206EA9;
    font-weight: 400;
  }

  @media only screen and (max-width: 600px) {
    .el-dialog {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        width: 100% !important;
    }
  }

  .el-row {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .el-col {
    border-radius: 4px;
  }
  .bg-purple-dark {
    background: #99a9bf;
  }
  .bg-purple {
    background: #d3dce6;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }
</style>

<script type="text/javascript">
var app = new Vue({
  el: '#app',
  data: {
    theme: 'dark',
    appDirectData: [],
    laughingSquidData: [],
    techCrunchData: [],
    appDirectNum: 30,
    laughingSquidNum: 30,
    techCrunchNum: 30,
    dialogVisible: false,
    storage: window.localStorage,
  },
  methods: {
    getRelativeTime: function(timestamp) {
      return moment(timestamp).utc().fromNow();
    },
    goToTweet: function(id) {
      window.open('https://twitter.com/i/web/status/' + id, '_blank');
    },
    setTheme: function(_theme) {
      this.theme = _theme;
    }
  },
  watch: {
    appDirectData: function(data) {
      this.storage.setItem('appDirectData', JSON.stringify(data));
    },
    laughingSquidData: function(data) {
      this.storage.setItem('laughingSquidData', JSON.stringify(data));
    },
    techCrunchData: function(data) {
      this.storage.setItem('techCrunchData', JSON.stringify(data));
    },
    appDirectNum: function(val) {
      this.storage.setItem('appDirectNum', val);
    },
    laughingSquidNum: function(val) {
      this.storage.setItem('laughingSquidNum', val);
    },
    techCrunchNum: function(val) {
      this.storage.setItem('techCrunchNum', val);
    },
    theme: function(val) {
      this.storage.setItem('theme', val);
    },
  },
  created: function() {
    var self = this;

    // GET DATA FROM TWITTER API IF FIRST TIME USER
    if ( !('appDirectData' in this.storage) ) {
      $.get( "http://localhost:7890/1.1/statuses/user_timeline.json?count=30&screen_name=appdirect", function( data ) {
          data = JSON.parse(data);
          self.appDirectData = data;
      });
    }
    else {
      this.appDirectData = JSON.parse( this.storage.getItem('appDirectData') );
    }

    if ( !('laughingSquidData' in this.storage) ) {
      $.get( "http://localhost:7890/1.1/statuses/user_timeline.json?count=30&screen_name=laughingsquid", function( data ) {
          data = JSON.parse(data);
          self.laughingSquidData = data;
      });
    }
    else {
      this.laughingSquidData = JSON.parse( this.storage.getItem('laughingSquidData') );
    }

    if ( !('techCrunchData' in this.storage) ) {
      $.get( "http://localhost:7890/1.1/statuses/user_timeline.json?count=30&screen_name=techcrunch", function( data ) {
          data = JSON.parse(data);
          self.techCrunchData = data;
      });
    }
    else {
      this.techCrunchData = JSON.parse( this.storage.getItem('techCrunchData') );
    }

    // GET NUMBER OF TWEETS TO SHOW FROM STORAGE
    if ('appDirectNum' in this.storage ) {
      this.appDirectNum = this.storage.getItem('appDirectNum');
    }
    if ('laughingSquidNum' in this.storage ) {
      this.laughingSquidNum = this.storage.getItem('laughingSquidNum');
    }
    if ('techCrunchNum' in this.storage ) {
      this.techCrunchNum = this.storage.getItem('techCrunchNum');
    }


    if ('theme' in this.storage ) {
      this.theme = this.storage.getItem('theme');
    }

  },
})
</script>
</html>